<div id='page_wrapper'>
  <div id='profile-image'>
    <%= image_tag 'profile.png' %>
  </div>

  <div id='content'>
     <h1>Tonee Young</h1><br>
     <h3>That's me.</h3>
     <p>I'm a non-binary queer human living in Atlanta. I spend my time on my dogs, transforming my urban home into a farmlet, <br>and learning to code.  Right now, I'm focusing on Ruby & Rails.</p>
      <p>I support <a href="http://sopobikes.org">SoPo Bicycle Cooperative</a> and <a href="http://southernersonnewground.org/">SONG (Southerners On New Ground)</a>, and it'd be great if you would too.</p>
      <p>You can follow me on twitter <a href="https://twitter.com/twoesplease">@twoesplease</a> & can check out my <a href="https://github.com/twoesplease">Github profile here</a>. I'm working on the <a href="https://github.com/Kallaway/100-days-of-code">100 Days of Code Challenge</a>, & I log my progress on that <a href="https://github.com/twoesplease/100-days-of-code/blob/master/log.md">here</a>.</p>

  </div>
</div>
