<div id='page_wrapper'>
  <div>
    <%= image_tag 'profile.jpg', id: 'profile_image' %> 
  </div>

  <div id='content'>
     <h1>Tonee Young</h1><br>
     <h3>That's me.</h3>
     <p>I'm a non-binary queer human living in Atlanta. I spend my time on my dogs, transforming my urban home into a farmlet, <br>and learning to code.  Right now, I'm focusing on Ruby & Rails.</p>
      <p>I support <a href="http://sopobikes.org" target="_blank">SoPo Bicycle Cooperative</a> and <a href="http://southernersonnewground.org/" target="_blank">SONG (Southerners On New Ground)</a>, and it'd be great if you would too.</p>
      <p>You can follow me on twitter <a href="https://twitter.com/twoesplease" target="_blank">@twoesplease</a> & can check out my <a href="https://github.com/twoesplease" target="_blank">Github profile here</a>. 
      I'm working on a #144HoursOfCode challenge (based on the <a href="https://github.com/Kallaway/100-days-of-code" target="_blank"> 100 Days of Code Challenge</a>), 
      & I log my progress on that here on my blog at toneeyoung.com.</p>  I also completed a round of the #100DaysOfCode challenge, & I entered my progress during that challenge 
      <a href="https://github.com/twoesplease/100-days-of-code/blob/master/log_round_1.md" target="_blank">here</a>.

  </div>
</div>
