/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

html, body {
	font-family: 'Inconsolata', monospace;
	background: #2d2e30;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

a:link {
  text-decoration: underline;
}

#topnav {
	background: #63685e;
	padding: 0;
	// border-right: 1px solid #2d2e30;
	#logo {
		width: 20px;
    padding: 8px;
	}
	ul {
    margin: 25px 0px;
		list-style: none;
		padding-right: 0;
    overflow: hidden;
		.category {
			font-size: 1.25em;
			text-transform: uppercase;
			color: #fff;
      float: left;
			padding: .5em 
		}
		li {
			padding: .5em 0;
      float: left;
			a {
				color: #fff;
				text-decoration: none;
				transition: all .4s ease;
        display: block;
        padding: 0.5em;
				&:hover {
					color: #2d2e30;
				}
		  .active {
			  a {
		  	  color: #63685e;
			  }
		          }
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #fff;
	}
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #2d2e30;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#main_content {
	margin-left: 250px;
  background-color: #2d2e30;
	#header {
		padding: 1em 3em;
		// border-bottom: 1px solid #2d2e30;
		background: #2d2e30;
    font-size: 1.25em;
		color: #fff;
		text-transform: uppercase;
		p {
			display: inline;
		}
		a {
			color: #fff;
			text-decoration: none;
		}
		.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}
	.post_wrapper {
		padding: 3em;
		// border-bottom: 1px solid #2d2e30;
    p {
      color: #63685e;
      .date {
  		   color: #63685e;
            }
  		.date_and_author {
  			margin: .5em 0 0 0;
  			color: #63685e;
		}
      }
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #fff;
				font-size: 1.5em;
				&:hover {
					color: #63685e;
				}
			}
	}
}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #fff;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
      color: #fff;
		}
		.date_and_author {
			color: #63685e;
			margin: .5em 0 2em 0;
		}
		.date {
			color: #63685e;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				// border-bottom: 1px solid #2d2e30;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				// border-bottom: 1px solid #2d2e30;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
            color: #63685e;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
            color: #fff;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
            color: #63685e;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
      border-radius: 0.35em;
			img {
				width: 100%;
				border-radius: 25%;
				max-width: 100%;
        height: auto;
        border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
        color: #fff;
			}
			a {
			  color: #63685e;
				font-weight: 700;
				text-decoration: underline;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		// border: 1px solid #2d2e30;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #2d2e30;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .5em;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
}
