<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Inconsolata:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :recaptcha_js %>
  </head>
  <body>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <div id='topnav'>
      <ul>
        <li class='category'>Here</li>
        <li><%= link_to 'Blog', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Resumé', resume_path, target: "_blank" %> </li>
        <li class='category'>Elsewhere</li>
        <li><a href='https://twitter.com/twoesplease' target ='_blank'>Twitter</a></li>
        <li><a href='https://gitlab.com/twoesplease' target ='_blank'>Gitlab</a></li>
        <li><a href='mailto:itisi@toneeyoung.com'>Email</a></li>
        <li style='float:right'><%=link_to 'Admin Login', login_path %></li>
      </ul>

      </div>

      <div id='main_content'>
        <div id='header'>
          <% if current_page?(root_path) %>
            <p>All Posts</p>
          <% elsif current_page?(about_path) %>
            <p>About</p>
          <% else %>
            <%= link_to 'Back to Home Page', root_path %>
          <% end %> 

        <% if user_signed_in? %>
          <p class='buttons'>
            <p class='button'><%= link_to 'New Post', new_post_path %></p>
            <p class='button'>Log Out</p>
         </p>
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: 'alert') %>
      <% end %>

    <%= yield %>
      </div>

  </body>
</html>
